<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
    </head>

    <body style="margin: 0 !important; padding: 0 !important; background-color: #F8F6FA;">
        <table style="background-color: #FFF; text-align: left; font-family: Arial, sans-serif; color: #333333; font-size: 16px;" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td width="130px" style="font-weight: bold; padding-left:30px; padding-top: 50px;">Assunto:</td>
                <td style="padding-top: 50px; padding-right:30px;">{{contato.assunto}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td width="130px" style="font-weight: bold; padding-left:30px;">Nome:</td>
                <td style="padding-right:30px;">{{contato.nome}}</td>
            </tr>
            <tr>
                <td width="130px" style="font-weight: bold; padding-left:30px;">E-mail:</td>
                <td style="padding-right:30px;">{{contato.email}}</td>
            </tr>
            <tr>
                <td width="130px" style="font-weight: bold; padding-left:30px;">Telefone:</td>
                <td style="padding-right:30px;">{{contato.telefone}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; padding-left:30px;">Mensagem:</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:30px; padding-right:30px; padding-bottom: 50px;">
                    {{contato.mensagem}}
                </td>
            </tr>
        </table>
    </body>
</html>